<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); -%>
</head>

<body>
    <div class="constainer register d-flex align-items-center text-center">
        <a class='bg-dark text-white text-capitalize text-align-center' href='/auth/register'>Register</a>
        <a class='ml-3 bg-success text-white text-capitalize text-align-center' href='/auth/login'>Login</a>
    </div>
    <%- include('js'); -%>
</body>

</html>