
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    a.navbar-brand(href='#') Startmin
    a.text-1rem.navbar-brand.mr-auto(href='#')
        i.fa.fa-home(aria-hidden='true')
        | Website
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
        ul#exampleAccordion.navbar-nav.navbar-sidenav
            li.nav-item
                form.m-3
                    .input-group
                        input.form-control(type='text', placeholder='Search')
                        span.input-group-append
                            button.btn.btn-primary(type='button')
                                i.fa.fa-search
            li.nav-item.active(data-toggle='tooltip', data-placement='right', title='Dashboard')
                a.nav-link.py-2(href='#')
                    i.fa.fa-fw.fa-dashboard
                    span.nav-link-text Dashboard
            li.nav-item(data-toggle='tooltip', data-placement='right', title='Charts')
                a.nav-link.nav-link-collapse.collapsed.py-lg-2(data-toggle='collapse', href='#collapseCharts', data-parent='#exampleAccordion')
                    i.fa.fa-bar-chart-o.fa-fw
                    span.nav-link-text Charts
                ul#collapseCharts.sidenav-second-level.collapse
                    li
                        a.py-lg-2(href='flot.html') Flot Charts
                    li
                        a.py-lg-2(href='morris.html') Morris.js Charts
            li.nav-item(data-toggle='tooltip', data-placement='right', title='Tables')
                a.nav-link.py-lg-2(href='tables.html')
                    i.fa.fa-fw.fa-table
                    span.nav-link-text Tables
            li.nav-item(data-toggle='tooltip', data-placement='right', title='forms')
                a.nav-link.py-lg-2(href='forms.html')
                    i.fa.fa-edit.fa-fw
                    span.nav-link-text Forms
            li.nav-item(data-toggle='tooltip', data-placement='right', title='UIelement')
                a.nav-link.nav-link-collapse.collapsed.py-lg-2(data-toggle='collapse', href='#collapseUIelement', data-parent='#exampleAccordion')
                    i.fa.fa-wrench.fa-fw
                    span.nav-link-text UI Elements
                ul#collapseUIelement.sidenav-second-level.collapse
                    li
                        a.py-lg-2(href='/panels-wells') Panels and Wells
                    li
                        a.py-lg-2(href='/buttons') Buttons
                    li
                        a.py-lg-2(href='/notifications') Notifications
                    li
                        a.py-lg-2(href='/typography') Typography
                    li
                        a.py-lg-2(href='/icons') Icons
                    li
                        a.py-lg-2(href='/grid') Grid
            li.nav-item(data-toggle='tooltip', data-placement='right', title='Multi-Level Dropdown')
                a.nav-link.nav-link-collapse.collapsed.py-lg-2(data-toggle='collapse', href='#collapseMulti-LevelDropdown', data-parent='#exampleAccordion')
                    i.fa.fa-fw.fa-file
                    span.nav-link-text Multi-Level Dropdown
                ul#collapseMulti-LevelDropdown.sidenav-second-level.collapse
                    li
                        a.py-lg-2(href='login.html') Second Level Item
                    li
                        a.py-lg-2(href='register.html') Second Level Item
                    li
                        a.nav-link-collapse.collapsed.py-lg-2(data-toggle='collapse', href='#collapseMulti2')
                            | Third
                            | Level
                        ul#collapseMulti2.sidenav-third-level.collapse
                            li
                                a.py-lg-2(href='#') Third Level Item
                            li
                                a.py-lg-2(href='#') Third Level Item
                            li
                                a.py-lg-2(href='#') Third Level Item
                            li
                                a.py-lg-2(href='#') Third Level Item
            li.nav-item(data-toggle='tooltip', data-placement='right', title='Sample Pages')
                a.nav-link.nav-link-collapse.collapsed.py-lg-2(data-toggle='collapse', href='#collapsesamplePages', data-parent='#exampleAccordion')
                    i.fa.fa-files-o.fa-fw
                    span.nav-link-text Sample Pages
                ul#collapsesamplePages.sidenav-second-level.collapse
                    li
                        a.py-lg-2(href='/blank') Blank Page
                    li
                        a.py-lg-2(href='/auth/login') Login Page
        ul.navbar-nav.sidenav-toggler
            li.nav-item
                a#sidenavToggler.nav-link.text-center
                    i.fa.fa-fw.fa-angle-left
        ul.navbar-nav.ml-auto
            li.nav-item.dropdown
                a#alertsDropdown.nav-link.dropdown-toggle.mr-lg-2(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    i.fa.fa-fw.fa-bell
                    span.d-lg-none
                        | Alerts
                        span.badge.badge-pill.badge-warning 6 New
                    span.indicator.text-warning.d-none.d-lg-block
                        i.fa.fa-fw.fa-circle
                .dropdown-menu.dropdown-alerts(aria-labelledby='alertsDropdown')
                    a.dropdown-item(href='#')
                        span
                            i.fa.fa-comment.fa-fw
                        |  New Comment
                        span.small.ml-auto.d-lg-ml-3.text-muted 4 minutes ago
                    a.dropdown-item(href='#')
                        span
                            i.fa.fa-twitter.fa-fw
                        |  3 New Followers
                        span.small.ml-auto.d-lg-ml-3.text-muted 12 minutes ago
                    a.dropdown-item(href='#')
                        span
                            i.fa.fa-envelope.fa-fw
                        |  Message Sent
                        span.small.ml-auto.d-lg-ml-3.text-muted 4 minutes ago
                    a.dropdown-item(href='#')
                        span
                            i.fa.fa-upload.fa-fw
                        |  Server Rebooted
                        span.small.ml-auto.d-lg-ml-3.text-muted 4 minutes ago
                    a.dropdown-item(href='#')
                        span
                            i.fa.fa-tasks.fa-fw
                        |  New Task
                        span.small.ml-auto.d-lg-ml-3.text-muted 4 minutes ago
                    .dropdown-divider
                    a.dropdown-item.text-center(href='#')
                        strong See All Alerts
                        i.fa.fa-angle-right
            li.nav-item.dropdown
                a#settingsDropdown.nav-link.dropdown-toggle.mr-lg-2(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    i.fa.fa-user.fa-fw
                    span secondtruth
                    span.indicator.text-primary.d-none.d-lg-block
                        i.fa.fa-fw.fa-circle
                .dropdown-menu.dropdown-user(aria-labelledby='settingsDropdown')
                    a.dropdown-item(href='#')
                        i.fa.fa-user.fa-fw
                        |  User Profile
                    a.dropdown-item(href='#')
                        i.fa.fa-gear.fa-fw
                        |  Settings
                    a.dropdown-item(href='/login', data-toggle='modal', data-target='#exampleModal')
                        i.fa.fa-sign-out.fa-fw
                        |  Logout
