html
  include head.pug
  body
    table.table
        thead.thead-dark
            tr
            th(scope='col') #
            th(scope='col') id
            th(scope='col') Email
        tbody
            tr
              th(scope='row') 1
              td= user.id
              td= user.email
    
    include js.pug